@import url('https://fonts.googleapis.com/css?family=Open+Sans:700|Raleway:400,700&display=swap');

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: hsl(218, 28%, 13%);         /*hsl(218, 28%, 13%)*/
  color: #c5c0d1;              /*c5c0d1*/
  font-family: "Lucida Console", Courier, monospace;
  width: auto;

  overflow-x: hidden;

}



header {
  background-color: hsl(217, 28%, 15%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left bottom;
  padding-bottom: 700px;
  height:900px;
  overflow: hidden;

}


.headerPoS{
  position:relative;
  bottom: 200px;
}


.container {
  padding: 20px;
  margin: 0 auto;
  max-width: 100%;
  width: 1200px;
  position: relative;
}




.leaf{
width:320px;
height:270px;
display: block;
margin-left: auto;
margin-right: auto;
 position:relative;
 top: 450px;
 left: 60px;
}

/* Name */

.namePoS{
  position: relative;
  top: 415px;

}

.name  {
  color: #fff;
  text-align: center;
  font-weight: bolder;
  position: relative;
  top: 400px;
  width: 100%;
  }

  .kawika{
  position: absolute;
  bottom: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-family: consolas;
  letter-spacing: 5px;
  margin: 0;
  padding: 0;
  color: transparent;
  white-space: nowrap;


}

.kawika::before
{
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  overflow: hidden;
  border-right: transparent;
  animation: type 2s steps(36);

}


  @keyframes type {
    0% {
      width: 0;
      border-right: 3px solid white;

    }

    95% {
      width: 100%;

    }

    100%{
      width: 100%;
      border-right: 3px solid white;
    }

  }
hr.line{
  border: 2px solid #b5a5e6;
  border-radius: 5px;
  width: 200px;
}

hr.lineA{
  border: 3px solid #1f3e70;
  border-radius: 5px;
  width: 30%;
  position: relative;
  right: 250px;
  bottom: 50px;
}

hr.lineB{
  border: 3px solid #1f3e70;
  border-radius: 5px;
  width: 30%;
  position: relative;
  right: 250px;
  bottom: 50px;
}








/* Nav Styling */


.navbar {
  margin:0;
  overflow: hidden;
  background-color: hsl(218, 28%, 13%);
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 7px solid #1f3e70;
  height:60px;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 26px;
  text-decoration: none;
  font-size: 18px;



}

#navLi a {
  display:inline;
  position:relative;
  bottom: 0px;
  left:650px;
  float:left;
  animation: expand 0.7s steps(36);
}

@keyframes expand {
  0% {
    padding: 14px 16px;
    font-size: 18px;
    left:450px;
  }

  90%{
    left: 660px;
  }

  100%{
    padding: 14px 18px;
    font-size: 20px;
    left:650px;
  }
}

#navLi a:hover {
font-size: 22px;
font-weight: bold;
}

#navLi a:after {

  display:block;
  content: '';
  border-bottom: solid 3px #019fb6;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
#navLi a:hover:after { transform: scaleX(1);  }
#navLi a.fromLeft:after{  transform-origin:  0% 50%; }

#btn{
  position:relative;
  right: 500px;
  top: 2px;
}

#myBtn {
  /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  top: 0; /* Place the button at the bottom of the page */
  left: 20px;
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: hsl(218, 28%, 13%);

  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */

  font-size: 20px; /* Increase font size */

}

#myBtn:hover {
  color: gray;

}

.wrapper{
text-align:center;
}

/*hero styling*/

.transbox {
  background: rgba(105, 105, 105, 0.1);
  border: 0px solid black;
  height: 200px;


}

.transboxEx {
  background: rgba(105, 105, 105, 0.1);
  border: 0px solid black;
  height: 400px;
  position: relative;
  right: 350px;

}

.aboutme {

padding-top: 300px;
  margin: 20px auto;

  width: 600px;
  text-align: center;

  padding-bottom: 400px;
}

.aboutme p{
  text-align:center;

  line-height: 1.6;
  color: #c5c0d1;
}

p.aboutpara{
  position:relative;
  bottom: 40px;
  text-align: center;

}

.about{

  text-align: center;
  position: relative;
  right: 250px;
  bottom: 20px;

}
/*edu and exp*/
.experience{
  padding-top: 50px;
  margin: 20px auto;
  max-width: 100%;
  width: 600px;
  text-align: center;
  position: relative;
  left: 50px;

  padding-bottom: 400px;
}

.exp{
  text-align: center;
  position: relative;
  right: 250px;
  bottom: 20px;
}

.exp-ul {
  margin: 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: left;
  justify-content: left;
  padding-right:  20px;
  list-style-type: none;
  position: relative;
  right: 120px;
  top: 67px;
}

.exp-ul li {

  font-weight: bold;
  width:auto;
  display: inline-block;
  color: #c5c0d1;
  font-family: 'Raleway', sans-serif;
  padding: 3px 20px;
  text-decoration: none;

}

.exp-ul p{
  color: #fff;
  position: relative;
  top: 30px;
}

.exp2-ul {
  margin: 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: left;
  justify-content: left;
  padding-right:  20px;
  list-style-type: none;
  position: relative;
  left: 100px;
  bottom: 150px;
}

.exp2-ul li {

  font-weight: bold;
  width:auto;
  display: inline-block;
  color: #c5c0d1;
  font-family: 'Raleway', sans-serif;
  padding: 3px 20px;
  text-decoration: none;

}

.exp2-ul p{
  color: #fff;
  position: relative;
  top: 30px;
}

.textA{
  text-align: center;
  position: relative;
  right: 50px;
  bottom: -10px;
}

.edu{
  position: relative;

}

.edu p{
  position: relative;
  left: 100px;
}

/*end of edu and experience*/


/*projects*/



.projects{
  padding-top: 200px;
  margin: 20px auto;
  max-width: 100%;
  width: 600px;
  text-align: center;
  position: relative;
  left: 220px;


}

.project{
  text-align: center;
  position: relative;
  right: 250px;
  bottom: 20px;


}

#projectCont{
  position:relative;
  left:100px;
  bottom:10px;


}



.transboxPro {
  background-color: hsl(218, 28%, 13%);
  border: 3px solid gray;
  height: 450px;
  width: 325px;
  position: relative;
  bottom: 50px;
  right:2px;
  border-radius: 5%;


}

.detailbox {
  background: rgba(105, 105, 105, 0.5);
  border: 1px solid black;
  height: 170px;
  width: 240px;
  position: relative;
  top: 360px;
  left: 450px;


}

p.aForm {
  font-family: "Lucida Console", Courier, monospace;
  font-size: 28px;
  position: relative;
  left: 35px;
  bottom: 10px;
  font-weight: bold;
}

.gogithub:link, .gogithub:visited {
  background-color: hsl(218, 28%, 13%);
  border: 2px solid white;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  position: relative;
  bottom: 78px;
  left: 20px;
  height: 60px;
  font-size: 14px;
  width: 120px;

}

.gogithub:hover, .gogithub:active {
  padding: 10px 25px;
  font-size: 14px;
  font-weight: bolder;
  border: 3px solid white;
}

.goabsensite:link, .goabsensite:visited {
  background-color: hsl(218, 28%, 13%);
  border: 2px solid white;
  color: white;
  padding: 12px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  position: relative;
  bottom: 76px;
  left: 50px;
  height: 60px;
  font-size: 14px;
  width: 120px;

}

.goabsensite:hover, .goabsensite:active {
  padding: 12px 20px;
  border: 3px solid white;
  font-size: 14px;
  font-weight: bolder;
}

p.absenteeP {
  font-family: "Lucida Console", Courier, monospace;
  font-size: 18px;
  position: relative;
  left: 6px;
  top: 90px;
}


h1 {
  line-height: 1.5;
}

.projo{
  list-style-type: none;

}

.projectTabs{
vertical-align: middle;
      display: inline-block;
      padding: 4px 30px;   /* example spacing */

}



.codes{
  list-style-type: none;
}

.codes li{
  text-align:center;
  position:relative;
  right: 20px;
  top: 40px;
  background: rgba(105, 105, 105, 0.1);
  border: 1px solid black;
  height: 50px;
  padding-top:15px;
}

.btn {
  border-radius: 50px; /*make it round*/
  background-image: linear-gradient(to right,
    hsl(176, 68%, 64%),
    hsl(198, 60%, 50%)
    );
  border: 0;
  color: #fff;
  padding: 18px 80px;

}

.feature {
  margin: 40px;
  width: 400px;
  text-align: center;
}



/*footer*/

footer {
  background-color: hsl(217, 28%, 15%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left bottom;
  padding-bottom: 200px;
  width: 100%;
}

.footer-section{
  padding-top: 180px;
  margin: 20px auto;
  max-width: 100%;
  width: 600px;
  text-align: center;
  position: relative;
  left: 220px;
}

/*contact*/

.form-elements {
  position: relative;
  bottom: 200px;
  right: 440px;
  max-width: 1%;
  min-width: 960px;

}

textarea {

}

input {

  width: 300px;
  height: 50px;
}

.nameTex{
  position: relative;
  right: 100px;
}

.email{
  position: relative;
  bottom: 117px;
  left: 250px;
  display:inline-block;
}

.nameEmail{
  position:relative;
  right: 73px;
  top: 40px;
}


/* Header Logo info */

.logo{

  position:relative;
  top: 230px;
  right:40px;
  text-align:center;

}


.logithub{
  position: relative;
  right: 10px;
  display: inline-block;
  color: white;
  border: 2px solid white;
  border-radius: 10%;
  padding: 12px 25px;
  height: 60px;
  font-size: 16px;
  width: 130px;
  overflow:hidden;
  text-align: center;
  text-decoration: none;

  left: -1000px;
  -webkit-animation: slide 1s forwards;
  -webkit-animation-delay: 0s;
  animation: slide 2s forwards;
  animation-delay: 0s;

}
.logithub:hover{
  font-weight:bold;
  border: 3px solid white;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0;  }
}

.logcont{
  position: relative;
  left: 10px;
  display: inline-block;
  color: white;
  border: 2px solid white;
  border-radius: 10%;
  padding: 12px 25px;
  height: 60px;
  font-size: 16px;
  width: 130px;
  overflow:hidden;
  text-align: center;
  text-decoration: none;

  left: 1000px;
  -webkit-animation: slide 1s forwards;
  -webkit-animation-delay: 0s;
  animation: slide 2s forwards;
  animation-delay: 0s;

}


.logcont:hover{
  font-weight:bold;
  border: 3px solid white;
}


.fphone{
  position: relative;
  top: 445px;
  left: 200px;
}


.contacts{
  text-align: center;
  position: relative;
  right: 250px;
  bottom: 20px;
}

.fa-bars{display:none;
}

.dropdown {
  display:none;
  float:right;


  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}



.dropdown-content {
  display: none;
  position: fixed;
  right: 4px;
  left:auto;

  background-color: hsl(218, 8%, 3%);

  min-width: 360px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #c5c0d1;
  padding: 24px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: hsl(218, 28%, 13%);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover{
  font-weight: bold;
  font-size:20px;
  color: white;
}

@media screen and (max-width: 1307px) {

.aboutme {
  width: 440px;
}

.aboutH{
  position:relative;
  left: 100px;

}

  #navLi{
    position:relative;
    right:200px;
  }

  .experience{


    position:relative;
    left:200px;
  }

  .expH{
    position:relative;
    left:100px;
  }
}

@media screen and (max-width: 1087px) {
  #navLi{
    position:relative;
    right:400px;
  }

}

@media screen and (max-width: 817px) {

  header {
  }
#navLi{ display:none;
}

.dropdown{
  display:block;
}

.fa-bars{
  color:white;
}

.fa-bars:hover{
  color: red;
}

.experience{

  width:550px;
  position:relative;
  left:350px;
}

.expH{
  position:relative;
  bottom: 20px;
  left:250px;
}

.eduH{
  position:relative;
  right: 220px;
  top: 40px;
  width: 100px;

}

.edu{
  position:relative;
  right: 40px;
  font-size: 12px;
}

.projo{
  position:relative;
  right:100px;
}

}

